<div class="container pt-3">
  <!--<div class="col">-->
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag @user.get_image %>

        <table>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </table>

         <%= link_to edit_user_path(@user.id),class:"btn btn-outline-secondary btn-block mx-auto" do %>
          <i class="fas fa-user-cog"></i>
         <% end %>

        <h2>New book</h2>
        <%= form_with model: @books do |book| %>
        <label>
          Title</br>
          <%= book.text_field :title %>
        </label>
        <label>
          Option</br>
          <%= book.text_area :body %>
        </label>
        <input class="btn btn-success btn-sm" type="submit" value="Create Book">
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        <table>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
          <% @users.each do |users| %>
          <tr>

            <td><%= image_tag users.get_image %></td>
            <td><%= users.name %></td>
            <td><%= link_to 'Show',user_path(users.id) %></td>

          </tr>
          <% end %>
        </table>
        </div>
    </div>
  </div>
</div>






