<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= form_with @user.do eacho |user| %>
        <% if user.image.attached? %>
        <%= image_tag user.image %>
        <% else %>
        <% image_tag "app/assets/images/no_image.jpg" %>
        <% end 
　　　　<table>
          <tr>
            <th>name</th>
            <th>田中美咲</th>
          </tr>
          <tr>
            <th>introduction</th>
          </tr>
        </table>
        <% end %>
        <a class="btn btn-outline-secondary btn-block "><i class="fa-regular fa-user-gear"></i></a>
        
        <h2>New book</h2>
        <%= form_with model: @books do |book| %>
        <label>
          Title
          <%= book.text_field:title %>
        </label>
        <label>
          Option
          <%= book.text_area:body %>
        </label>
        <% end %>
        <input class="btn btn-success btn-sm" type="submit" value="Create Book">
      </div>
    </div>
  </div>
</div>